#container{
    margin: 1em 1em 1em 1em;
    height: 700px;
    width: 700px;
    display: grid;
    background-color: rgb(255, 255, 255);
    border: 20px solid black;
    
    
}
.column{
    display: flex;

}
.row{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
body{
    background-color: cadetblue;
}
#prompt{
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 10px 20px 20px 100px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: aquamarine;

}